*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.button.sm{
  padding: 12px 32px;
}
.button.green{
 background-color: #009b77;
}
.button.red{
background-color: tomato;
}
.container{
  margin: 0 auto;
  width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.button{
  border-radius: 10px;
  background-color: #f88c28;
  color: white;
  font-weight: 400;
  font-size: 16;
  padding: 16px 64px;
  outline: none;
  border: none;
  text-align: center;
}
.balance-form .wrapper{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 16px;
}
.AddInput, select{
  padding: 8px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  outline: none;
  background-color: white;
}
.filter{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 16px;

  background-color: #f9f9fa;
  padding: 18px 48px;
  border-radius: 10px ;
}
.operations{
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 32px 0 ;
}
.operation{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  background-color: #f9f9fa;


}
.operation .circle{
  --size:64px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  color: white;

  font-size: 24px;
}
.operation:first-child{
  border-radius: 8px 8px 0px 0px;
}
.operation:last-child{
  border-radius: 0px 0px 8px 8px;
}
.operation .circle.income{
  background-color: #009b77;
}
.operation .circle.expense{
  background-color: tomato;
}

